@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    margin: 0 40px;
}

.component,
audio {
    margin: 40px 0;
}

.component div {
    margin: 20px 0;
}

button,
a {
    cursor: pointer;
}

button {
    text-align: left;
}

button:hover,
a:hover {
    color: tomato;
}

nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding-right: 50px;
}

nav a {
    font-weight: bold;
    color: tomato;
}
